/*
    * Main Container Small Styles
*/

.main-container {
    width: 100%;
    margin: 0;
}

.main-header img {
    width: 100%;
    border-radius: 0;
}

/*
    * Section About Small Styles
*/

aside.section-duobeer, aside.qrcode-contact {
    text-align: center;
    float: inherit;
}
/*
    * Section Location Small Styles
*/

.section-location iframe{
    width: 100%;
}
