/*
    * General Styles
*/
body {
    background: #232323;
    color: #fff;
}

h1, h2 {
    color: #f4a700;
}

/*
    * Main Container Styles
*/

.main-container {
    width: 600px;
    margin: 100px auto;
}

/*
    * Aside header image Styles
*/

.main-header img{
    border-radius: 20px 20px 0 0;
    border: #f4a700 1px solid;
}

/*
    * Section About
*/

.section-about {
    text-align: center;
}