/*
    * General Styles
*/
html {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("/image/space-background.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #232323;
}

h1, h2 {
    color: #232323;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 22px;
}

/*
    * Main Container Styles
*/

.main-container {
    width: 600px;
    margin: 100px auto;
}

/*
    * Aside header image Styles
*/
.main-header {
    line-height: 0;
}

.main-header img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

/*
    * Section changing color using nth-child
*/
section:nth-child(2) {
    background: #ddd;
}
section:nth-child(3) {
    background: #fff;
}

/*
    * Section About
*/

.section-about {
    overflow: auto;
    padding: 2.5rem;
}

.section-about h1 {
   text-align: center;
   font-weight: bold;
   margin-bottom: 1.75rem;
}

.section-about p {
    margin-bottom: 1.75rem;
}

aside.section-duobeer{
    float: right;
    margin: 24px;
}

/*
    * Section Contact and Address Styles
*/

.section-contact {
    padding: 2.5rem;
    text-align: center;
    overflow: auto;
}

.section-contact h2{
    font-weight: bold;
    margin-bottom: 1.75rem;
}

aside.qrcode-contact {
    float: left;
}

.section-contact p {
    margin-bottom: 1.75rem;
}

/*
    * Section location Styles
*/

.section-location {
    width: 100%;
}